<div data-widget="men_changePassword">
  <div class="form">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Change Password
      </div>
      <div class="panel-body">
        <div data-widget="form"></div>
        <div><button class="btn btn-primary" data-button="submit">Submit</button></div>
      </div>
      <div class="panel-footer">
        <%= link_to "Home", root_path %><br />
      </div>
    </div>
  </div>
</div>

