<div data-widget="friends_add">
  <div class="form">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Add Friend
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10">
            <input type="text" class="full_width" data-input="username"/>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" data-button="add">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
