<div data-widget="notifications" class="inherit-height">
  <div class="form inherit-height">
    <div class="panel panel-primary inherit-height">
      <div class="panel-heading">
        Notifications
      </div>
      <div class="panel-body">
        <div data-widget="table" id="notifications"></div>
      </div>
    </div>
  </div>
</div>