

<div class="page-header">
 <h1>
    <small>Welcome to </small>
    The Last Man Standing
 </h1>
</div>
<p>
  This site consists of a group of men striving for sexual purity, and has been created as an aid in this constant battle.<br><br>
  It is a sort of competition between brothers in Christ who have created an account as a pledge to share with their accountability partners each time that they fall in this pursuit.<br><br>
  By creating an account, you are agreeing to share each and every time that you fall with your friends, and also to pray for each other - if you are going to slack off with posting, or pretend that you haven't fallen, do not bother creating an account. This website is not for you. <br><br>
  Good luck in this fight, and God bless!
</p>
