<div class="row">
  <div align="left" class="col-xs-2">
    <i class='fa fa-user'></i> &nbsp; <b> {{=man_username}} </b>
  </div>
  <div align="left" class="col-xs-7">
    {{=message}}
  </div>
  <div align="left" class="col-xs-3">
    {{=date_time}}
  </div>
</div>