<div class="row" style="border: 1px solid lightblue; padding: 10px; margin: 5px 0px;">
  <div align="left" class="col-xs-2">
    <i class='fa fa-user'></i> &nbsp <b> {{=man_username}} </b>
  </div>
  <div align="left" class="col-xs-7">
    {{=message}}
  </div>
  <div align="left" class="col-xs-3">
    {{=date_time}}
  </div>
</div>