
<div data-widget="posts" data-get-url="/posts/all" data-show-default="false" class="inherit-height">
  <div data-area="add_post" class="row" style="margin: 10px; 0px">
    <div class="col-xs-1" data-area="current_man"> <i class='fa fa-user'></i> <b><%= current_man.username %></b></div>
    <div class="col-xs-10">
      <textarea data-textarea="post" style="width:100%; min-height: 80px" placeholder="Post something for your friends to see"></textarea>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" data-button="post">Post</button>
    </div>
  </div>
  <div data-area="posts"></div>
</div>