div.header {
  height: 50px;
  padding: 0px 5px;
}

div.content {
  min-height: 500px;
  padding: 5px 20px;
}

div.footer {
  text-align:center;
  width:100%;
  display:
  inline-block;
  padding-top: 30px;
}

.navbar-right {
  padding-right:10px;
}

.form {
  text-align:center;
}

.form > div {
  margin: 10px auto;
}

.half_width {
  width:50%;
}

.form div.row.form-property {
  padding: 5px 0px;
}

.form div.row.form-property input[type=text],
.form div.row.form-property input[type=email],
.form div.row.form-property input[type=password] {
  width:100%;
}

.form div.row.form-property > div:nth-child(1) {

}

.form div.row.form-property > div:nth-child(2) {

}

#error_explanation h2 {
  display: none !important;
}

#error_explanation ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
  margin-bottom: 0px;
}

input[disabled=true] {
  background: lightgray;
  border: lightgray;
}

input.error {
  border: 1px solid red !important;
}
textarea.error {
  border: 1px solid red !important;
}

div.loading {
  min-height: 300px;
  width: 100%;
}