div.header {
  height: 50px;
  padding: 0px 5px;
}

div.content {
  min-height: 500px;
  padding: 5px 20px;
}

div.footer {
  text-align:center;
  width:100%;
  display:
  inline-block;
  padding-top: 30px;
}

.navbar-right {
  padding-right:10px;
}

.form {
  text-align:center;
}

.form > div {
  margin: 10px auto;
}

.full-width {
  width:100%;
}

.half-width {
  width:50%;
}

div.row.form-property {
  padding: 5px 0px;
}

div.row.form-property input[type=text],
div.row.form-property input[type=email],
div.row.form-property input[type=password],
div.row.form-property textarea {
  width:100%;
}

div.row.form-property > div:nth-child(1) {

}

div.row.form-property > div:nth-child(2) {

}

#error_explanation h2 {
  display: none !important;
}

#error_explanation ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
  margin-bottom: 0px;
}

input[disabled=true] {
  background: lightgray;
  border: lightgray;
}

input.error {
  border: 1px solid red !important;
}
textarea.error {
  border: 1px solid red !important;
}

div.loading {
  min-height: 300px;
  width: 100%;
}

.inherit-height {
  height: inherit;
}

.scroll {
  overflow:scroll;
}

#friends[data-widget='table'] {
  height: 335px;
  overflow:scroll;
}
#received_requests[data-widget='table'],
#sent_requests[data-widget='table'] {
  height: 300px;
  overflow:scroll;
}

.fallen-button {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}

.fallen-button > a {
  padding:20px 50px;
  width: 50%;
}

.date.form_datetime > input {
  background-color: white;
}