div.header {
  height: 50px;
  padding: 0px 5px;
}

div.content {
  min-height: 500px;
  padding: 5px 20px;
}

div.footer {
  text-align:center;
  width:100%;
  display:
  inline-block;
  padding-top: 30px;
}

.navbar-right {
  padding-right:10px;
}

.devise {
  text-align:center;
}

.devise > div {
  width:50%;
  margin: 10px auto;
}

.devise div.row.devise-property {
  padding: 5px 0px;
}

.devise div.row.devise-property input[type=text],
.devise div.row.devise-property input[type=email],
.devise div.row.devise-property input[type=password] {
  width:100%;
}

.devise div.row.devise-property > div:nth-child(1) {

}

.devise div.row.devise-property > div:nth-child(2) {

}

#error_explanation h2 {
  display: none !important;
}

#error_explanation ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
  margin-bottom: 0px;
}

input[disabled=true] {
  background: lightgray;
  border: lightgray;
}

