// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.header {
  height: 50px;
}

div.content {
  min-height: 500px;
  padding: 5px 20px;
}

div.footer {
  text-align:center;
  width:100%;
  display:
  inline-block;
  padding-top: 30px;
}