<div class="row">

  <!-- Ladder -->
  <div class="col-sm-8">
    <div data-widget="ladder" class="inherit-height">
      <div class="form inherit-height">
        <div class="panel panel-primary inherit-height">
          <div class="panel-heading">
            Ladder
          </div>
          <div class="panel-body">
            <div data-widget="table" id="ladder"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Recently Fallen -->
  <div class="col-sm-4">
    <div data-widget="recently_fallen" class="inherit-height">
      <div class="form inherit-height">
        <div class="panel panel-danger inherit-height">
          <div class="panel-heading">
            Recently Fallen
          </div>
          <div class="panel-body">
            <div data-widget="table" id="recently_fallen"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
